* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}

body {
  margin:0;
  background-color: #9999ff;
}

.login--comp {
  display:flex;
}

.login {
  width:1000px;
  margin:auto;
  display: grid;
  margin-top:150px;
}
.register {
  width:500px;
  margin:auto;
  display:grid;
  margin-top:100px;
}

.login--button {
  width:200px;
  height:100px;
  margin:auto;
  margin-top:50px;
  border-radius:10px;
  background-color:#fff;
  color:#000;
  font-size:30px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #000;
}

.login--button:hover {
  width:202px;
  height:102px;
}

.login--input {
  text-align:center;
  width:400px;
  height:100px;
  margin:auto;
  margin-top:20px;
  font-size:35px;
  border-radius:3px;
  border: 2px solid #000;
  color: #000;
  box-shadow: 1px 3px 12px -4px rgba(66, 68, 90, 1);
}

.login--input:hover {
  border: none;
}
.register--input:hover {
  border: none;
}

.register--input {
  text-align:center;
  width:350px;
  height:75px;
  margin:auto;
  margin-top:20px;
  font-size:30px;
  border-radius:3px;
  border: 2px solid #000;
  color: #000;
  box-shadow: 1px 3px 12px -4px rgba(66, 68, 90, 1);
}

.register--button {
  width:200px;
  height:100px;
  margin:auto;
  margin-top:50px;
  border-radius:10px;
  background-color:rgb(250, 152, 152);
  color:rgb(0, 0, 0);
  font-size:30px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #000;
}

.register--button:hover {
  width:202px;
  height:102px;
}

.navbar {
  height:100px;
  background-color: #8383fb;
  border-bottom: 1px groove #9999ff;
}

.navbar--list {
  margin:0;
  display:flex;
  justify-content:center;
}

.navbar--link {
  color:#fff;
  font-size:30px;
  text-decoration: none;
  font-weight: bold;
  padding:20px;
}

.navbar--link:hover {
  text-decoration:underline #9999ff;
}

#register--span {
  margin-top:25px;
  text-align: center;
  font-size:40px;
  letter-spacing: 3px;
}